

@{
    ViewData["Title"] = "IP Address Manager";
}
<div class="well">
    <h2>Static IP Addresses and Machine Information</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>IP Address</th>
                    <th>VM</th>
                    <th>OS</th>
                    <th>Description</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in IPAddress)
                <tr>
                    <td>{{ x.hostname }}</td>
                    <td>{{ x.ipv4 }}</td>
                    <td>{{ x.VM }}</td>
                    <td>{{ x.operatingSystem }}</td>
                    <td>{{ x.description }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="openEdit(x.id)">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteAddress(x.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary" ng-click="openNew()">Add New Address</button>
</div>