@model CSharpWebsite.Models.Snippets

@{
    ViewData["Title"] = "Edit";
}


<div class="well">
    <form asp-action="Edit">
        <div class="form-horizontal">
            <h2>@Model.title</h2>
            <h3>@Model.language</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="title" class="col-md-2 control-label">Title</label>
                <div class="col-md-10">
                    <input asp-for="title" class="form-control" />
                    <span asp-validation-for="title" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="code" class="col-md-2 control-label">Code</label>
                <div class="col-md-10">
                    <div id="editor"></div>
                    <input asp-for="code" type="hidden" id="code" class="form-control" />
                    <span asp-validation-for="code" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="language" class="col-md-2 control-label">Language</label>
                <div class="col-md-10">
                    <input id="languageInput" type="hidden" asp-for="language" class="form-control" />
                    <select asp-for="language" class="form-control" id="languageList"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
